{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DASHBOARD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

    <style>
      .modal {
        width: 300px;
        }
      .modal-content {
        width: 300px;
        }
      .list-group-item:hover {
        background-color: rgba(59, 57, 57, 0.164)!important;
      }
      .fundo {
        background-color: #becbec;
      }
    </style>
  </head>


  <body class="fundo">
    <nav class="navbar bg-light shadow">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">DASHBOARD</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">MENU</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <ul class="list-group list-group-flush">
        <li><a class="list-group-item" href="{% url 'home' %}">Dashboard</a></li>
        <li><a class="list-group-item" href="{% url 'lancar' %}">Lançamento</a></li>
      </ul>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <div class="row d-flex p-3 mb-3 mt-5 mx-auto w-75 border border-shadow rounded bg-light text-dark">
      <div class="col h-75 w-25 text-center border border-shadow rounded bg-secondary bg-gradient">
        <h3><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
          <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
          <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
          <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
        </svg> Gasto total:</h3>
        </svg>
      </div>
      <div class="col w-25 text-center border border-shadow rounded bg-secondary bg-gradient">
        <h3>R$<span  id="total_gasto"></span></h3>
      </div>
      
  </div>

  <div class="row d-flex p-3 mb-3 mt-5 mx-auto w-75 border border-shadow rounded bg-light text-dark">
    <h1>Local onde ficara grafico mensal</h1>
  </div>

  <div class="p-3 mb-3 mt-5 mx-auto w-75 border border-shadow rounded bg-light text-dark">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Categoria</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>

      <tbody>
        {% for descricao in lista %}
        <tr>
          <td>{{ descricao }}</td>
          <td>{{ descricao.categoria }}</td>
          <td>{{ descricao.valor }}</td>
        </tr>

          {% endfor %}
      </tbody>
    </table>
  </div>
    <script src=" {% static 'js/js.js' %}"></script>
    <script>
      window.onload = function(event){
    
        renderiza_total_gasto("{% url 'total_gasto' %}")
      }
    </script>
  </body>
</html>
