<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>DashBoard</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a07d05399.js"></script>


  </head>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bar" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Menu</Header>
        <a href="#" class="active">
            <i class="fas fa-qrcode"></i>
            <span>DashBoard</span>
        </a>
        <a href="#" class="active">
            <i class="fas fa-qrcode"></i>
            <span>Lançar</span>
        </a>
    </div>
    

  <body>
   
  </body>

</html>